

body {
    background-color: rgb(17, 17, 44);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height:100%;
}

.Fees .container{
    margin-top: 4rem;
    background-color: rgb(17, 17, 44) !important;
    text-align: center;
}
.Fees .container .Header h2{
    font-weight: 800;
    font-family: "DM Serif Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    color: slategrey;
    line-height: 48px;
    font-size: 48px;
    margin-bottom: 2rem;
}

 p{
    font-family: "DM Sans", "Segoe UI", system-ui, -apple-system, sans-serif;;
    font-weight: 400;
    line-height: 28px;
    color: #cecece;
}
/* Part 02 card */
.fee-card img {
    background-color: rgb(122 201 224);
    border-radius: 2rem;
    margin-left: 190px;
    max-width: 50rem;
    max-height: 435px;
}
.fee-card .paragraph p{
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 14rem;
    padding-right: 7rem;
}
.how-it-works .container {
    background-color: #16243c;;
    width: 100%;
}

/*  */

 #circleicons img {
    height: 80px;
    background-color: white;
    border-radius: 50%;
}
/*  */
.AgreementMoneyChart .container {
    background-color:#232e33d9;
    width: 80%;
    border-radius: 10px;
}
.AgreementMoneyChart .container .row {
    padding: 20px;
}

.border {
    border: 2px solid;
    border-radius: 15px;
    display: inline-block;
    width: 220px;
    height: 140px;
    margin: 6px;    
  }
  /* sliderre */
  .slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 15px;
}

/*  */
 
  